package ${package}

expect class Platform() {
    val platform: String
}

#set( $TEMPLATE_BEGIN= '${' )

class Greeting {
    fun greeting(): String = "Hello, ${TEMPLATE_BEGIN}Platform().platform}"
}
